body::after {
    content: "mobile";
    font-size: 0;    
}

@media (min-width: 740px) {
    body::after {
        content: "desktop";
        font-size: 0;
    }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto";
    background-color: #f7f7f7;
}

header {
    background-color: #2a5f79;
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 200;
    padding: 15px;
}

.nav-scroll {
    transition: 0.5s;
    padding: 5px;
    
}

header #cabecalho {
    width: 310px;
    height: 60px;
    margin: 0 auto;
}

@media (min-width: 520px) {
    header, header #cabecalho {
        height: 35px;
    }
}

@media (min-width: 520px) {
    header #cabecalho {
        width: 480px;
    }
}

@media (min-width: 740px) {
    header #cabecalho {
        width: 720px;            
    }
}

header #cabecalho #botao-mobile-menu {
    background: url(../img/menu_sandwich.png) no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    cursor: pointer;
    float: left;
}

@media (min-width: 520px) {
    header #cabecalho #botao-mobile-menu {
        width: 30px;
        height: 30px;
        margin-top: 2px;
    }
}

@media (min-width: 740px) {
    header #cabecalho #botao-mobile-menu {
        display: none;
    }
}

header #cabecalho #menu-navegacao {
    display: none;
}

@media (min-width: 740px) {
    header #cabecalho #menu-navegacao {
        display: inline-block;
        width: 420px;
        height: 40px;
        margin-left: 20px;                
    }
}

header #cabecalho #menu-navegacao ul {    
    list-style-type: none;
    float: left;
}

header #cabecalho #menu-navegacao ul li {
    display: inline-block;
}

header #cabecalho #menu-navegacao ul li a {
    display: inline-block;    
    border: 1px solid #557bc9;
    width: 100px;
    color: white;
    font-family: roboto;
    text-align: center;
    border-radius: 2px;
    padding: 7px 0px;    
}

header #cabecalho #menu-navegacao ul li a:hover {
    background-color: rgba(85, 123, 201, 0.2);
    color: white;
}

.painel-mobile {    
    background-color: #141619;    
    height: 100%;
    padding: 5px;
    position: fixed;        
    transition: width .2s;
    z-index: 2;
}

#box-menu-mobile {
    display: none;
    width: 0px;
}

#box-menu-mobile-ativo {
    display: inline-block;    
    width: 200px
}

#box-menu-mobile-ativo #menu-mobile li {    
    margin-bottom: 5px;
    list-style: none;
}

#box-menu-mobile-ativo #menu-mobile li a {
    display: block;
    width: 160px;
    background-color: #ebebeb;
    border-bottom: 2px solid #868686;
    color: black;
    padding: 20px;
    text-align: center;
}

#box-menu-mobile-ativo #menu-mobile li a:active {
    background-color: #557BC9;
    border-bottom: 2px solid #5d5d5d;
    color: white;
}

#box-main-content {
    width: 1000px;
    height: 2020px;
    margin: auto;
}

#box-main-content #blank {
    height: 65px;
    width: 1000px;
}

#box-main-content #main-content {
    width: 1000px;
    height: 2000px;
}

#box-main-content #main-content #home {
    width: 100%;
    height: 1000px;
}

#box-main-content #main-content #clientes {
    width: 100%;
    height: 1000px;
    background-color: black;
}

/*** HEXAGON GRID CODE *********************************************************************/

#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  list-style-type: none;
}

.hex {
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
.hexIn{
  position: absolute;
  width:96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin:0 2%;
  overflow: hidden;
  visibility: hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
    z-index: 100;
}

/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
}

.hex h1, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  background-color: rgba(0, 128, 128, 0.8);
  font-weight: 300;
  -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
          transition:          transform .2s ease-out, opacity .3s ease-out;
}
.hex h1 {
  bottom: 50%;
  padding-top:50%;
  font-size: 1.5em;
  z-index: 1;
  -webkit-transform:translate3d(0,-100%,0);
      -ms-transform:translate3d(0,-100%,0);
          transform:translate3d(0,-100%,0);
}
.hex h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.hex p {
  top: 50%;
  padding-bottom:50%;
  -webkit-transform:translate3d(0,100%,0);
      -ms-transform:translate3d(0,100%,0);
          transform:translate3d(0,100%,0);
}


/*** HOVER EFFECT  **********************************************************************/
.hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p{
  -webkit-transform:translate3d(0,0,0);
      -ms-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:1201px) { /* <- 5-4  hexagons per row */
  #hexGrid{
    padding-bottom: 4.4%
  }
  .hex {
    width: 20%; /* = 100 / 5 */
  }
  .hex:nth-child(9n+6){ /* first hexagon of even rows */
    margin-left:10%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
  #hexGrid{
    padding-bottom: 5.5%
  }
  .hex {
    width: 25%; /* = 100 / 4 */
  }
  .hex:nth-child(7n+5){ /* first hexagon of even rows */
    margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
  #hexGrid{
    padding-bottom: 7.4%
  }
  .hex {
    width: 33.333%; /* = 100 / 3 */
  }
  .hex:nth-child(5n+4){ /* first hexagon of even rows */
    margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
  #hexGrid{
    padding-bottom: 11.2%
  }
  .hex {
    width: 50%; /* = 100 / 3 */
  }
  .hex:nth-child(3n+3){ /* first hexagon of even rows */
    margin-left:25%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 13px;
    }
}

/*** HEXAGON END *******************************************************/

#clientes {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #2a5f79;
    width: 100%;
    height: 50px;
    display: flex;
}

footer #rodape {
    width: 500px;
    height: 50px;
    text-align: center;
    line-height: 60px;
    color: white;
}